<!DOCTYPE html>
    <head>

    </head>

    <body>
        <a href="/">Home</a>
        <h3>Welcome</h3>
        <form class="form-container" method="POST" action="/new">
            <input class="form-input" type="text" placeholder="Your name" name="messageUser" required>
            <textarea class="form-textarea" placeholder="Your message ..." name="messageText" required id="" cols="30" rows="10"></textarea>
            <button class="form-button" type="submit">Save</button>
        </form>
    </body>
</html>