body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-textarea {
  height: 5rem;
  width: 30vw;
}

.form-input {
  /* padding: 10; */
  /* padding-bottom: 20px;
  border: 0, 5px;
  margin: 10px; */
  margin: 0.5rem;
  width: 30vw;
}

.form-button {
  width: 10vw;
  padding: 10px;
  margin: 10px;
}


